<!--Section: Products v.3-->
<section class="text-center mb-4">
  <!--Grid row-->
  <div class="row wow fadeIn">
    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4" *ngFor="let tempProduct of products">
      <!--Card-->
      <div class="card">
        <!--Card image-->
        <div class="view overlay">
          <img src="{{ tempProduct.imageUrl }}" class="card-img-top" alt="" />
          <a routerLink="/products/{{ tempProduct.id }}">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <div class="card-body text-center">
          <!--Category & Title-->
          <a routerLink="/products/{{ tempProduct.id }}" class="grey-text">
            <!--<h5>{{tempProduct.description}}</h5>-->
          </a>
          <strong>
            <a
              routerLink="/products/{{ tempProduct.id }}"
              class="dark-grey-text"
              >{{ tempProduct.name }}
              <!---<span class="badge badge-pill danger-color">NEW</span>-->
            </a>
          </strong>

          <h4 class="font-weight-bold blue-text">
            <strong>{{ tempProduct.unitPrice }}$</strong>
          </h4>
          <button (click)="addProductToCart(tempProduct)" class="btn btn-lg btn-primary">Add to Cart</button>
        </div>
        <!--Card content-->
      </div>
      <!--Card-->
    </div>
    <!--Grid column-->
    <!---IF PRODUCT NOT FOUND THEN PRINT MESSAGE-->
    <div
      *ngIf="products?.length == 0"
      class="alert alert-warning col-md-12"
      role="alert"
    >
      <h1>No Product Found</h1>
    </div>
  </div>
  <!--Grid row-->
</section>
<!--Section: Products v.3-->

<!--Pagination-->
<div class="">
  <div class="row">
    <div class="col-md-9" style="padding-left: 30%">
      <ngb-pagination
        [(page)]="thePageNumber"
        [pageSize]="thePageSize"
        [collectionSize]="theTotalNumberOfElements"
        [maxSize] = "3"
        [boundaryLinks] = "true"
        (pageChange)="listProducts()"
      >
      </ngb-pagination>
    </div>
    <div class="col-md-3" style="text-align: right;">
      <span class="mr-2">Page Size </span>
      <select #t (change)="updatePageSize(t.value)">
        <option selected="true">5</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
        <option>50</option>
      </select>
    </div>
  </div>
</div>
